<form [formGroup]="speechForm">
  <div class="row mb-3">
    <div class="col">
      <textarea class="form-control" formControlName="speech"></textarea>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-12 col-md-4 mb-1">
      <input class="form-control" formControlName="author" placeholder="Author" type="text">
    </div>
    <div class="col-sm-12 col-md-4 mb-1">
      <input class="form-control" formControlName="keywords" placeholder="Subject area keywords" type="text">
    </div>
    <div class="col-sm-12 col-md-4 mb-1">
      <input class="form-control" formControlName="date" type="date">
    </div>
  </div>
</form>

<div class="d-flex justify-content-end">
  <ng-container [ngSwitch]="page">
    <ng-container *ngSwitchCase="generalTexts.VIEW">
      <div class="form-btn">
        <button (click)="deleteSpeech(speechForm.value.id)" [disabled]="speechForm.invalid" class="btn btn-light">
          {{generalTexts.DELETE | uppercase}}
        </button>
      </div>
      <div class="form-btn">
        <button (click)="updateSpeech()" [disabled]="speechForm.invalid"
                class="btn btn-light">
          {{generalTexts.SAVE | uppercase}}
        </button>
      </div>
      <div class="form-btn">
        <button class="btn btn-light">
          {{generalTexts.SHARE | uppercase}}
        </button>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="generalTexts.ADD">
      <button (click)="addSpeech()" [disabled]="speechForm.invalid"
              class="btn btn-primary">{{generalTexts.ADD | uppercase}}
      </button>
    </ng-container>
    <ng-container *ngSwitchDefault>

    </ng-container>
  </ng-container>


</div>
